@use '../../styles/vars' as *;

.block{
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}
.span{
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #467;
  font-size: 11px;

  @include for-desktop{
    font-size: 14px;
  }
}