@use '../../styles/vars' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 100%;
  width: 22%;
  min-width: 82px;
  padding-top: 5px;
  color: #267;
  background: radial-gradient(at 95% 90%, #bfa, #bdf);
  overflow-y: hidden;
}

.delimiter{
  height: 0;
  border-bottom: 2px solid #8bf;
}